<h1>Comedians</h1>

<div class="header">
  <h2>Statistics</h2>
  <p>Average Age of Comedians: <%= @comedians.average_age.round(2) %></p>
  <p>Average Special Run Length: <%= Special.average_run_time %></p>
  <p>Total TV Specials: <%= Special.count%></p>
  <p>Cities: </p>
    <ul>
      <%= @comedians.cities%>
    </ul>
</div>
<br>
<br>



    <div id='comedians'>
      <% @comedians.each do |comedian| %>
      <h3><%= comedian.name %></h3>
      <p>Age: <%= comedian.age %></p>
      <p>City: <%= comedian.city %></p>
      <p>Total Specials: <%= comedian.specials.count %></p>
    </div>

    <div id='specials'>
      <ul>
        <h4>TV Specials:</h4>
        <% comedian.specials.each do |special| %>
        <li><%= special.name %></li>
          <p>Run time: <%= special.run_time %></p>
          <% end %>
        </ul>
    </div>
    <% end %>
