<h1>Comedians</h1>

<div class="header">
  <h2>Statistics</h2>
  <section class="grid">
    <p><strong>Average TV Special Run Time: </strong><br><br><%= @specials.average_run_time.round(2) %></p>
    <p><strong>Total TV Specials: </strong><br><br><%= @specials.count%></p>
    <p><strong>Average Age: </strong><br><br><%= @comedians.average_age.round(2)%></p>
    <p><strong>Cities:</strong><br>
      <%@comedians.unique_cities.each do |city|%>
        <br><%=city%>
        <% end %>
    </p>
  </section>
</div>
<br>
<br>

<section class ="grid">
<% @comedians.each do |comedian| %>
<div id='comedians'>
  <h3><%= comedian.name %></h3>
  Age: <%= comedian.age %>
  <br>City: <%= comedian.city %>
  <br>Total Specials: <%= comedian.specials.count %>
  <div id='specials'>
    <h4>TV Specials:</h4>
      <% comedian.specials.each do |special| %>
      <strong><%= special.name %></strong>
      <img src=<%= special.thumbnail%> alt=<%= special.name%>>
      <br>Run time: <%= special.run_time %><br><br>

      <% end %>
  </div>
</div>
</div>
<% end %>
</section>
